{% extends "shop/layout.html" %}
{% load shop_extras %}
{% load bootstrap_tags %}
{% block content %}
<section class="module-small">
    <div class="container">      
    <form class="form-inline" action="" method="GET">
      <div class="col-md-9">
          {{ form|as_bootstrap_inline }}
      </div>
      <div class="col-md-3">
        <button class="btn btn-block btn-round btn-g" type="submit">Search</button>
      </div>
      </fieldset>
    </form>
    </div>
  </section>
<section class="module-small">
    <div class="container">
      <div class="row multi-columns-row">
        {% for product in object_list %}
        <div class="col-sm-6 col-md-4 col-lg-4">
          <div class="shop-item">
            <div class="shop-item-image"><img src="{{ product.image.url }}" alt="Accessories Pack"/>
              <div class="shop-item-detail"><a href="{% url 'product-detail' product.id %}" class="btn btn-round btn-b"><span class="icon-basket">Details</span></a></div>
            </div>
            <h4 class="shop-item-title font-alt"><a href="{% url 'product-detail' product.id %}">{{ product.title }}</a></h4>{{ product.price }}zł
          </div>
        </div>
        {% empty %}
          No products yet.
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-sm-12">
            {% if is_paginated %}
            <ul class="pagination">
              {% if page_obj.has_previous %}
                <li><a href="?{% url_replace request 'page' page_obj.previous_page_number %}">&laquo;</a></li>
              {% else %}
                <li class="disabled"><span>&laquo;</span></li>
              {% endif %}
              {% for i in paginator.page_range %}
                {% if page_obj.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                  <li><a href="?{% url_replace request 'page' i %}">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if page_obj.has_next %}
                <li><a href="?{% url_replace request 'page' page_obj.next_page_number %}">&raquo;</a></li>
              {% else %}
                <li class="disabled"><span>&raquo;</span></li>
              {% endif %}
            </ul>
          {% endif %}        </div>
      </div>
    </div>
  </section>
{% endblock %}
